// /*==========================================================================
// 	 FIRST SCREEN 
// 	 ========================================================================== */

.first-screen {
    background: url("../images/first-screen-img.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    width: 100%;
    height: 700px;
    @include mq('phone') {
        height: 500px;
    }
    @include mq('desktop') {
        height: 700px;
    }

    
    &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;      
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #232330;;
        opacity: 0.8; 
    }
}

.first-screen-content {
    display: block;
    z-index: 2; 
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: #fff; 
    margin: auto;

    @include mq('phone') {
        top: 59%;
        max-width: 461px;
    }    

    @include mq('tablet') {
        top: 55%; 
        max-width: 677px;
    }

    .h1 {
        color: #fff;
        margin: 24px 0 16px;
        text-align: center;

        @include mq('phone') {
            @include font-size(32px);
            margin: 0;
        }

        @include mq('tablet') {
            @include font-size(48px);
            margin: 20px 0;
        }

        @include mq('desktop') {
            margin: 24px 0 16px;
        }
    }

    p {
        margin: 0;        
        padding:  0;

        &:nth-of-type(2) {
            text-align: right;
        }

        @include mq('phone') {
            @include font-size(16px);
        }
        
        @include mq('tablet') {
            @include font-size(24px);
        }
    }    
}

.btn-panel {
    margin-top: 93px;
    margin: 0 auto;
    text-align: center;

    .btn:first-child {
        margin-right: 64px; 
        
        @include mq('phone') {
            margin-right: 0;
        }

        @include mq('tablet') {
            margin-right: 40px;
        }
    }

    @include mq('phone') {
        margin-top: 30px;
        width: 200px;
    }

    @include mq('tablet') {
        margin-top: 70px;
        width: 100%;
    }
}


// /* end first screen */