/* BASE STYLES */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  height: 100%;
  min-width: 300px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include box-sizing(border-box);
  @media screen and (max-width: 318px) {
    overflow-x: auto;
  }
}

body {
  position: relative;
  font-family: $font-family-main;
  @include font-size($font-size-main);
  line-height: $line-height-main;
  font-weight: $font-weight-main;
  color: $color-text;
  background: $background-body;
  overflow-x: hidden;
  @include flexbox();
  flex-flow:column;
  min-height: 100vh;

}
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper {
  width: 100%;
  @include flex(1 0 auto);
  overflow: hidden;
  z-index: 2;
  position: relative;
}

.clearfix {
  clear: both;
  &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

img,
video {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  -webkit-overflow-scrolling: touch;
}

address {
  font-style: normal;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}




/* end base styles */