<!-- first screen -->
<section class="first-screen">
    <div class="first-screen-content container">
        <p>Do you need a new </p>
        <h1 class="h1">Showcase PSD Template ?</h1>
        <p>Check out our options & features.</p>
        <div class="btn-panel">
            <a class="btn btn_secondary" href="#"> Explore Demos</a>
            <a class="btn btn_primary" href="#">Buy Now - 10$</a>
        </div>
    </div>
</section>